1.Write a python programm for merge two excel file data to one file

Write a python programm to shorting file in different folder means main folder containing 40 word file. Now after shorting create 4 child folder and store 10 file each folder.

2.Write a python programm separate duplicate file. Check with mobile number in main excel file and test data doc and if it is same or equal create seperate file and store duplicate file data

3.Write a python programm for Shorting file by keywords. input: folder path = text value Create new folder=text value Search Keyword= text value Output: Creat folder with input value and inside folder all shorting files displaying.

In [ ]:
# Write a python programm for merge two excel file data to one file

In [1]:
import pandas as pd
df1= pd.read_excel("C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/student.xlsx")
df2= pd.read_excel("C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/student2.xlsx")
df= pd.concat([df1, df2], axis=1)
print("Excel Sheet 1 :")
print(df1)
print("Excel Sheet 2 :")
print(df2)
print("Merged Excel Sheet :")
print(df)

Excel Sheet 1 :
    Name  Course  Total Marks
0   Riya     BCA           70
1   Siya    Bcom           90
2   Riya     BCA           70
3   Hina     Bed           82
4  Meena  B.Tech           78
Excel Sheet 2 :
   Collegetid College Name College City  Year of Passing
0         101   ST.Xaviers        Delhi             2021
1         102   ST.Loyalla       Mumbai             2022
2         103       AARYA        Jaipur             2020
3         104          MIT         Pune             2022
4         105   NIT Nashik       Nashik             2020
Merged Excel Sheet :
    Name  Course  Total Marks  Collegetid College Name College City  \
0   Riya     BCA           70         101   ST.Xaviers        Delhi
1   Siya    Bcom           90         102   ST.Loyalla       Mumbai
2   Riya     BCA           70         103       AARYA        Jaipur
3   Hina     Bed           82         104          MIT         Pune
4  Meena  B.Tech           78         105   NIT Nashik       Nashik

   Year of Passing
0             2021
1             2022
2             2020
3             2022
4             2020

In [ ]:
#Write a python programm to sorting file in different folder means main folder containing 40 word file.
#Now after sorting create 4 child folder and store 10 file each folder.

In [2]:
import os
import shutil

mainfolder = r'C:\Users\nawin\OneDrive\Desktop\datascience\task5_yoshops\Mainfolder'+'\\'
childfolder = r'C:\Users\nawin\OneDrive\Desktop\datascience\task5_yoshops\childfolder'+'\\'

for path,dir,files in os.walk(mainfolder):
    print(path)
    print(files)

C:\Users\nawin\OneDrive\Desktop\datascience\task5_yoshops\Mainfolder\
[]
C:\Users\nawin\OneDrive\Desktop\datascience\task5_yoshops\Mainfolder\Mainfile
['Assignment No 1.docx', 'Assignment No 11.docx', 'Assignment No 1134.docx', 'Assignment No 121.docx', 'Assignment No 121dgd.docx', 'Assignment No 122.docx', 'Assignment No 2.docx', 'Assignment No 21.docx', 'Assignment No 211.docx', 'Assignment No 21rt.docx', 'Assignment No 21rtref.docx', 'Assignment No 3.docx', 'Assignment No 31.docx', 'Assignment No 31erre.docx', 'Assignment No 31errefefef.docx', 'Assignment No 4.docx', 'Assignment No 41).docx', 'Assignment No 41)44.docx', 'Assignment No 41)44gdg.docx', 'Assignment No 434.docx', 'Assignment No 5.docx', 'Assignment No 51).docx', 'Assignment No 51)dfd.docx', 'Assignment No 544.docx', 'Assignment No 61.docx', 'Assignment No 61dgd.docx', 'Assignment22.docx', 'Assignment_21.docx', 'Cloud Infrastructure and Services.docx', 'create database practice.docx', 'nnnvvvvvddddd.docx', 'NOTES SEM 2.docx', 'NOTES SEM 21.docx', 'Programs in Java.docx', 'python1.docx', 'Question 1 Ans.docx', 'Question 1 Ans22.docx', 'Retail mart management.docx', 'Software Project Management Assignment.docx', 'tata.docx']

In [3]:
for path,dir,files in os.walk(mainfolder):
    if files:
        for file in files:
            if not os.path.isfile(childfolder + file):
                os.rename(path + '\\' + file, childfolder + file)

In [4]:
for path,dir,files in os.walk(childfolder):
    print(path)
    print(files)

C:\Users\nawin\OneDrive\Desktop\datascience\task5_yoshops\childfolder\
['Assignment No 1.docx', 'Assignment No 11.docx', 'Assignment No 1134.docx', 'Assignment No 121.docx', 'Assignment No 121dgd.docx', 'Assignment No 122.docx', 'Assignment No 2.docx', 'Assignment No 21.docx', 'Assignment No 211.docx', 'Assignment No 21rt.docx', 'Assignment No 21rtref.docx', 'Assignment No 3.docx', 'Assignment No 31.docx', 'Assignment No 31erre.docx', 'Assignment No 31errefefef.docx', 'Assignment No 4.docx', 'Assignment No 41).docx', 'Assignment No 41)44.docx', 'Assignment No 41)44gdg.docx', 'Assignment No 434.docx', 'Assignment No 5.docx', 'Assignment No 51).docx', 'Assignment No 51)dfd.docx', 'Assignment No 544.docx', 'Assignment No 61.docx', 'Assignment No 61dgd.docx', 'Assignment22.docx', 'Assignment_21.docx', 'Cloud Infrastructure and Services.docx', 'create database practice.docx', 'nnnvvvvvddddd.docx', 'NOTES SEM 2.docx', 'NOTES SEM 21.docx', 'Programs in Java.docx', 'python1.docx', 'Question 1 Ans.docx', 'Question 1 Ans22.docx', 'Retail mart management.docx', 'Software Project Management Assignment.docx', 'tata.docx']

In [5]:
#directory name
import os
dirname = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/childfolder/'
# list of all files in a given directory sorted by name
listoffiles = sorted( filter( lambda x: os.path.isfile(os.path.join(dirname, x)),
                        os.listdir(dirname) ) )
for filename in listoffiles:
    print(filename)

Assignment No 1.docx
Assignment No 11.docx
Assignment No 1134.docx
Assignment No 121.docx
Assignment No 121dgd.docx
Assignment No 122.docx
Assignment No 2.docx
Assignment No 21.docx
Assignment No 211.docx
Assignment No 21rt.docx
Assignment No 21rtref.docx
Assignment No 3.docx
Assignment No 31.docx
Assignment No 31erre.docx
Assignment No 31errefefef.docx
Assignment No 4.docx
Assignment No 41).docx
Assignment No 41)44.docx
Assignment No 41)44gdg.docx
Assignment No 434.docx
Assignment No 5.docx
Assignment No 51).docx
Assignment No 51)dfd.docx
Assignment No 544.docx
Assignment No 61.docx
Assignment No 61dgd.docx
Assignment22.docx
Assignment_21.docx
Cloud Infrastructure and Services.docx
NOTES SEM 2.docx
NOTES SEM 21.docx
Programs in Java.docx
Question 1 Ans.docx
Question 1 Ans22.docx
Retail mart management.docx
Software Project Management Assignment.docx
create database practice.docx
nnnvvvvvddddd.docx
python1.docx
tata.docx

In [6]:
import os
path = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/childsorted/'
for i in range(0,4):
    os.chdir(path)
    Newchildfolders = 'subchildFolder'+str(i)
    os.makedirs(Newchildfolders)

FileExistsError: [WinError 183] Cannot create a file when that file already exists: 'subchildFolder0'

In [7]:
i=0
j=0
k=0
for i in range(0,4):
    for j in range(0,10):
        ds1 = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/childfolder/'+listoffiles[k]
        ds2 = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/childsorted/subchildfolder'+str(i)
        shutil.copy2(ds1,ds2)
        k=k+1

In [ ]:
# Write a python program to  separate duplicate file .

In [8]:
# Importing Libraries
import os
from pathlib import Path
from filecmp import cmp
  
  
# list of all documents
Dir = Path('C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/wordfile')
files = sorted(os.listdir(Dir))
  
# List having the classes of documents
# with the same content
duplicate_Files = []
  
# comparison of the documents
for file_x in files:
  
    if_duplicate = False
  
    for class_ in duplicate_Files:
        # Comparing files having same content using cmp()
        # class_[0] represents a class having same content
        if_duplicate = cmp(
            Dir / file_x,
            Dir / class_[0],
            shallow=False
        )
        if if_duplicate:
            class_.append(file_x)
            break
  
    if not if_duplicate:
        duplicate_Files.append([file_x])
  
# Print results
print(duplicate_Files)

[['p1.docx'], ['p2.docx'], ['p3.docx'], ['p4.docx'], ['p5.docx'], ['p6.docx'], ['p7.docx']]

In [ ]:
# Check with mobile number in main excel file and test data doc and if it is same or equal create seperate file 
# and store duplicate file data

In [9]:
import pandas as pd
dfmailfile = pd.read_excel('C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/student1.xlsx')
print(dfmailfile)

    Name  Course  Total Marks College Name          Emailid
0   Riya     BCA           70   ST.Xaviers   riya@gmail.com
1   Siya    Bcom           90   ST.Loyalla   siya@gmail.com
2   Riya     BCA           70   ST.Xaviers   riya@gmail.com
3   Hina     Bed           82          MIT   hina@gmail.com
4  Meena  B.Tech           78   NIT Nashik  meena@gmail.com
5   Mona  B.Tech           88          KIT   mona@gmail.com
6  Meena  B.Tech           78   NIT Nashik  meena@gmail.com
7   Tiya     Bsc           85       AARYA    tiya@gmail.com
8   Mona  B.Tech           88          KIT   mona@gmail.com
9   Riya    BCA            70   ST.Xaviers   riya@gmail.com

In [10]:
# Selecting duplicate rows except first
# occurrence based on all columns
duplicate = dfmailfile[dfmailfile.duplicated()]
 
print("Duplicate Rows :")
 
# Print the resultant Dataframe
duplicate

Duplicate Rows :

    Name  Course  Total Marks College Name          Emailid
2   Riya     BCA           70   ST.Xaviers   riya@gmail.com
6  Meena  B.Tech           78   NIT Nashik  meena@gmail.com
8   Mona  B.Tech           88          KIT   mona@gmail.com

In [11]:
# creating excel writer object
writer_duplicate = pd.ExcelWriter('duplicate-excel.xlsx')
# write dataframe to excel
 
duplicate.to_excel(writer_duplicate)
 
# save the excel
writer_duplicate.save()

In [12]:
dfno_ofduplicates = dfmailfile.drop_duplicates()
print("New Dataframe After Removing Duplicate Rows :")
 
# Print the resultant Dataframe
dfno_ofduplicates

New Dataframe After Removing Duplicate Rows :

    Name  Course  Total Marks College Name          Emailid
0   Riya     BCA           70   ST.Xaviers   riya@gmail.com
1   Siya    Bcom           90   ST.Loyalla   siya@gmail.com
3   Hina     Bed           82          MIT   hina@gmail.com
4  Meena  B.Tech           78   NIT Nashik  meena@gmail.com
5   Mona  B.Tech           88          KIT   mona@gmail.com
7   Tiya     Bsc           85       AARYA    tiya@gmail.com
9   Riya    BCA            70   ST.Xaviers   riya@gmail.com

In [13]:
# creating excel writer object
writer_no_duplicate_rows = pd.ExcelWriter('no-duplicate-excel.xlsx')
# write dataframe to excel
 
dfno_ofduplicates.to_excel(writer_no_duplicate_rows)
 
# save the excel
writer_no_duplicate_rows.save()

In [ ]:
# sorting files in folder based on their size

In [15]:
import os
import shutil
# The folder containing files.
dir = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/Mainfile'

# Geting all files.
list = os.listdir(dir)

# Looping and adding files to list.
pairs = []
for file in list:

    # Use join to get full file path.
    location = os.path.join(dir, file)

    # Get size and add to list of tuples.
    size = os.path.getsize(location)
    pairs.append((size,file))

# Sort list of tuples by the first element, size.
pairs.sort(key=lambda s: s[0])

i=0
# Display pairs.
for pair in pairs:
    #source = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/Mainfile'+pair[1]
    #destination = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/sizesortedfolder/size'+str(i)
    #shutil.copy2(source,destination)
    
    print(pair)
    i=i+1

path = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/sizesortedfolder/'
for j in range(0,i):
    os.chdir(path)
    New_folder = 'size'+str(j)
    os.makedirs(New_folder)

(15555, 'Retail mart management.docx')
(15666, 'tata.docx')
(16259, 'Question 1 Ans.docx')
(16259, 'Question 1 Ans22.docx')
(20844, 'create database practice.docx')
(23141, 'Cloud Infrastructure and Services.docx')
(25533, 'Assignment No 51).docx')
(25533, 'Assignment No 51)dfd.docx')
(29363, 'Assignment No 41).docx')
(29363, 'Assignment No 41)44.docx')
(29363, 'Assignment No 41)44gdg.docx')
(31107, 'Software Project Management Assignment.docx')
(31851, 'Assignment No 5.docx')
(31851, 'Assignment No 544.docx')
(37339, 'Programs in Java.docx')
(49722, 'Assignment No 1a.docx')
(49793, 'Assignment No 1.docx')
(56423, 'Assignment No 21.docx')
(56423, 'Assignment No 21rt.docx')
(56423, 'Assignment No 21rtref.docx')
(61410, 'Assignment No 122.docx')
(61410, 'Assignment No 3.docx')
(71691, 'NOTES SEM 21.docx')
(71696, 'NOTES SEM 2.docx')
(77646, 'Assignment No 11.docx')
(77646, 'Assignment No 1134.docx')
(91362, 'Assignment_21.docx')
(91393, 'Assignment22.docx')
(93641, 'Assignment No 4.docx')
(93641, 'Assignment No 434.docx')
(111691, 'Assignment No 121.docx')
(111691, 'Assignment No 121dgd.docx')
(132090, 'Assignment No 61.docx')
(132090, 'Assignment No 61dgd.docx')
(161373, 'Assignment No 31.docx')
(161373, 'Assignment No 31erre.docx')
(161373, 'Assignment No 31errefefef.docx')
(287102, 'nnnvvvvvddddd.docx')
(345084, 'Assignment No 2.docx')
(345084, 'Assignment No 211.docx')

In [16]:
i=0
# Display pairs.
for pair in pairs:
    mainfile = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/Mainfile/'+pair[1]
    sizefile = 'C:/Users/nawin/OneDrive/Desktop/datascience/task5_yoshops/sizesortedfolder/size'+str(i)
    shutil.copy2(mainfile,sizefile)
    i=i+1